.border-radius-xs {
    border-radius: 1px;
}

.border-radius-s {
    border-radius: 2px;
}

.border-radius-m {
    border-radius: 3px;
}

.border-radius-l {
    border-radius: 5px;
}

.border-radius-xl {
    border-radius: 10px;
}

.border-radius-xxl {
    border-radius: 15px;
}

.m-xs {
    margin: 1px;
}

.m-s {
    margin: 3px;
}

.m-m {
    margin: 5px;
}

.m-l {
    margin: 7px;
}

.m-xl {
    margin: 10px;
}

.m-xxl {
    margin: 15px;
}