@import '../../consts/Colors.module.scss';

.Informations {
    color: green;
    padding: 10px;
    position: sticky;
    transition: .5s ease-in-out;  
    top: 130px;
    background-color: var(--main-color);
    display: flex;
}

i {
    transition: .5s ease-in-out;
    

    &:hover {
        cursor: pointer;
        color:rgba(255, 253, 163, 0.664)
    }
}

.TopBar {
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
}

.onHide {
    height: 0;
}

.ArrowOnHide {
    transform: rotate(180deg);
}