@import '../../../core/styles/colors.scss';
@import '../../../core/styles/media.scss';

.holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @include for-phone-only {    
        width: 90%;
    }

    @include for-desktop {
        width: max-content;
    }

    margin: 0 auto;
    height: min-content;
    background-color: $color-app-workspace;
}