@import './../../styles/media.scss';
@import './../../styles/fonts.scss';

.component {
    @include ctrl-component;
    @include ctrl-input;
    @include ctrl-label;
    
    @include nca-ctrl( $font-edit-size );
    @include nca-ctrl-for-tiny-desktop;
}

.editFocus {
    border-color: $color-ctrl-border-focus;
}

.required {
	
}

.required::after {
	color: red;
	content: " *";
}
