@import './_ctrls.scss';

.component {

    @include ctrl-component;

    @include ctrl-input;
    @include ctrl-label;


    .label {

        width: auto;
        overflow: hidden;
    }
    //display:inline-flex;
    .button {
        position: absolute;
        top: 12px;
        right: 6px;

        width: $font-edit-size - 8;
        height: $font-edit-size - 8;
        border-left: 6px solid transparent;
        border-top: 6px solid $color-ctrl-border-focus;
        border-right: 6px solid transparent;
        border-bottom: 6px solid transparent;

    }

    @include nca-ctrl( $font-edit-size );
    padding-right: $font-edit-size + 6;

    @include nca-ctrl-for-tiny-desktop;
}

.editFocus {
    border-color: $color-ctrl-border-focus;
}

.required {
	
}

.required::after {
	color: red;
	content: " *";
}

.dropdown {

    position: absolute;
    z-index: 1;
    right: -1px;
    top: 30px; 
    padding: inherit;
    color: inherit;   
    border: inherit; 
    background-color: inherit;
    width: inherit;
}