@import './_ctrls.scss';

.component {
    @include ctrl-component;
    @include ctrl-input;
    @include ctrl-label;
    
    @include nca-ctrl( $font-edit-size );
    @include nca-ctrl-for-tiny-desktop;

}

.errorStyle {
    border: 1px solid red;
}

.editFocus {
    border-color: $color-btn-dkshadow;
}

.errorBox {
    margin: 15px 0;
    height: max-content;
    width: 75%;
}

.required::after {
	color: red;
	content: " *";
}
