@import 'media.scss';
@import 'colors.scss';

$font-body-size: 16px;

$font-edit-size: 16px;
$font-label-size: $font-edit-size;
$font-label-focus-size: 12px;

$font-edit-size-t: 24px;
$font-label-size-t: $font-edit-size-t;
$font-label-focus-size-t: 14px;


@mixin font-title {

	font-family: 'Roboto', sans-serif;	
	font-size: 32px;
	font-weight: 300;
}

@mixin font-footer {

	font-family: 'Roboto', sans-serif;	
	font-size: 14px;
	font-weight: 300;
}

@mixin font-footer-group {

	font-family: 'Roboto', sans-serif;	
	font-size: 18px;
	font-weight: 300;
	font-variant: small-caps;
}

@mixin font-edit {

	font-family: 'Roboto', sans-serif;	
	font-size: $font-edit-size;
	font-weight: 400;
	@include for-tiny-desktop {
		font-size: $font-edit-size-t;
	}    
}

@mixin font-label {

	font-family: 'Roboto', sans-serif;	
	font-size: $font-edit-size;
	font-weight: 400;
	@include for-tiny-desktop {

		font-size: $font-edit-size-t;
	}
}

@mixin font-label-focus {

	font-size: $font-label-focus-size;
	@include for-tiny-desktop {

		font-size: $font-label-focus-size-t;
	}
}
