@import '../../core/styles/colors.scss'; 

.Informations {
    color: white;
    padding: 4px;
    position: sticky;
    transition: .5s ease-in-out;  
    top: 130px;
    background-color: black;
    display: flex;
    height: 45px;
}

.icons {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.userName {
    max-width: 250px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i {
    transition: .5s ease-in-out;
    
    &:hover {
        cursor: pointer;

    }
}

.TopBar {
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
}

.onHide {
    height: 0;
}

.ArrowOnHide {
    transform: rotate(180deg);
}