.UserCoins {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px;
    justify-content: center;
    min-height: 500px;
}

.EmptyCoinList {
    display: flex;
    align-items: center;
    align-self: center;
}