.Container {
    display: flex;
    flex-direction: row;
    margin: 30px 30px;
    width: 100%;
    height: max-content;
}

.AvatarContainer {
    margin: 0 40px 0 0;
}
.Avatar {
    background: url('../../../assets/avatar.jpg');
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: round;
}

.UserInformations {
    margin: 5px 0 0 0;
}

.Information {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    width: 250px;

    &:hover i {
        color: black;
        cursor: default;
    }
}